<header class="p-4 fixed w-full">
  <span class="font-sarasvati text-2xl">LuizFerK</span>
  <hr class="mt-2" />
</header>
<main class="px-4 sm:px-6 lg:px-8 h-full pt-[73px]">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
