<div class="canvas-opacity-diagonal"></div>
<div class="z-10 relative flex items-center justify-center h-[900px]">
  <div class="name">
    <div class="luiz inline-block">
      <span class="font-sarasvati text-9xl">Luiz</span>
    </div>
    <div class="fer inline-block">
      <span class="fer font-sarasvati text-9xl">Fernando</span>
    </div>
    <div class="klein inline-block">
      <span class="klein font-sarasvati text-9xl">Klein</span>
    </div>
  </div>
</div>
