<.link href={~p"/blog"}>
  <.button class="flex gap-2 items-center mb-4">
    <Heroicons.Solid.arrow_sm_left class="w-5 h-5" />
    <span>All posts</span>
  </.button>
</.link>

<div class="mx-auto max-w-4xl">
  <h1 class="text-8xl font-sarasvati"><%= @post.title %></h1>

  <p>
    <time><%= @post.date %></time> by <%= @post.author %>
  </p>

  <p>
    Tags: <%= Enum.join(@post.tags, ", ") %>
  </p>

  <hr class="mt-4 pb-4" />

  <%= raw(@post.body) %>
</div>
