<.link href={~p"/blog"}>← All posts</.link>

<div class="mx-auto max-w-4xl">
  <h1 class="text-8xl font-sarasvati"><%= @post.title %></h1>

  <p>
    <time><%= @post.date %></time> by <%= @post.author %>
  </p>

  <p>
    Tags: <%= Enum.join(@post.tags, ", ") %>
  </p>

  <hr class="mt-4 pb-4" />

  <%= raw(@post.body) %>
</div>
